<h2>Performance Evaluation</h2>
<mat-grid-list cols="6" rowHeight="100px">
    <mat-grid-tile colspan="2">
        <div class="year-alignment">
            <label class="view-year-label">View Year</label>
            <br>
            <mat-form-field class="select-year" appearance="outline">
                <mat-select placeholder="2022">
                    <mat-option value="2022">2022</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3"></mat-grid-tile>
    <mat-grid-tile>
        <button mat-stroked-button class="export">Export to PDF</button>
    </mat-grid-tile>
</mat-grid-list>
<br>
<br>
<mat-grid-list cols="6" rowHeight="30px">
    <mat-grid-tile>
        <label class="grid-text-small-label">Employee Name</label>
    </mat-grid-tile>
    <mat-grid-tile>
        <label class="grid-text-small-label">Supervisor Name</label>
    </mat-grid-tile>
    <mat-grid-tile>
        <label class="grid-text-small-label">Date Completed</label>
    </mat-grid-tile>
    <mat-grid-tile colspan="3"></mat-grid-tile>
    <mat-grid-tile>
        <p>John Doe</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <p>James Smith</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <p>9/15/22</p>
    </mat-grid-tile>
</mat-grid-list>
<br>
<br>
<br>
<mat-grid-list cols="2" rowHeight="15px">
    <mat-grid-tile>
        <label class="grid-text-large-label">Communication</label>
    </mat-grid-tile>
    <mat-grid-tile>
        <label class="grid-text-large-label">Collaboration and Teamwork</label>
    </mat-grid-tile>
</mat-grid-list>
<br>
<mat-grid-list cols="6" rows="2" rowHeight="20px">
    <mat-grid-tile>
        <label class="grid-text-small-label">Rating</label>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <label class="grid-text-small-label">Feedback</label>
    </mat-grid-tile>
    <mat-grid-tile>
        <label class="grid-text-small-label">Rating</label>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <label class="grid-text-small-label">Feedback</label>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list class="grid" cols="6" rows="2" rowHeight="40px">
    <mat-grid-tile>
        <p>Outstanding</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <p>Supervisor feedback goes here.</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <p>Outstanding</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <p>Supervisor feedback goes here.</p>
    </mat-grid-tile>
</mat-grid-list>
<br>
<br>
<br>
<mat-grid-list cols="2" rowHeight="20px">
    <mat-grid-tile>
        <label class="grid-text-large-label">Quality and Accuracy of Work</label>
    </mat-grid-tile>
    <mat-grid-tile>
        <label class="grid-text-large-label">Attendance, Punctuality, and Reliability</label>
    </mat-grid-tile>
</mat-grid-list>
<br>
<mat-grid-list cols="6" rows="2" rowHeight="20px">
    <mat-grid-tile>
        <label class="grid-text-small-label">Rating</label>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <label class="grid-text-small-label">Feedback</label>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="grid-text-small-label">Rating</div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <label class="grid-text-small-label">Feedback</label>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="6" rows="2" rowHeight="40px">
    <mat-grid-tile>
        <p>Outstanding</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <p>Supervisor feedback goes here.</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <p>Outstanding</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <p>Supervisor feedback goes here.</p>
    </mat-grid-tile>
</mat-grid-list>
<br>
<br>
<br>
<mat-grid-list cols="2" rowHeight="20px">
    <mat-grid-tile>
        <label class="grid-text-large-label">Goal Accomplishment and Deadline Timelines</label>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
<br>
<mat-grid-list cols="6" rows="2" rowHeight="20px">
    <mat-grid-tile>
        <label class="grid-text-small-label">Rating</label>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <label class="grid-text-small-label">Feedback</label>
    </mat-grid-tile>
    <mat-grid-tile colspan="3"></mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="6" rows="2" rowHeight="40px">
    <mat-grid-tile>
        <p>Outstanding</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <p>Supervisor feedback goes here.</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="3"></mat-grid-tile>
</mat-grid-list>
<br>
<br>