<h2 class="title">Performance Evaluation</h2>
<label class="view-year">View Year</label>
<br>
<mat-form-field class="select-year">
    <mat-select>
        <mat-option value="2022">2022</mat-option>
    </mat-select>
</mat-form-field>
<button mat-stroked-button class="export">Export to PDF</button>
<mat-grid-list class="grid" cols="6" rows="2" rowHeight="20px">
    <mat-grid-tile>
        <div class="grid-text-small-label">Employee Name</div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="grid-text-small-label">Supervisor Name</div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="grid-text-small-label">Date Completed</div>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
        <div class="grid-text">John Doe</div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="grid-text">James Smith</div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="grid-text">9/15/22</div>
    </mat-grid-tile>
</mat-grid-list>
<br>
<br>
<br>
<mat-grid-list class="grid" cols="2" rows="1" rowHeight="20px">
    <mat-grid-tile>
        <div class="grid-text-large-label">Communication</div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="grid-text-large-label">Collaboration and Teamwork</div>
    </mat-grid-tile>
</mat-grid-list>
<br>
<mat-grid-list class="grid" cols="6" rows="2" rowHeight="20px">
    <mat-grid-tile>
        <div class="grid-text-small-label">Rating</div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="grid-text-small-label">Feedback</div>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
        <div class="grid-text-small-label">Rating</div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="grid-text-small-label">Feedback</div>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list class="grid" cols="6" rows="2" rowHeight="20px">
    <mat-grid-tile>
        <div class="grid-text">Outstanding</div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <div class="grid-text">Supervisor feedback goes here.</div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="grid-text">Outstanding</div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <div class="grid-text">Supervisor feedback goes here.</div>
    </mat-grid-tile>
</mat-grid-list>
<br>
<br>
<br>
<mat-grid-list class="grid" cols="2" rows="1" rowHeight="20px">
    <mat-grid-tile>
        <div class="grid-text-large-label">Quality and Accuracy of Work</div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="grid-text-large-label">Attendance, Punctuality, and Reliability</div>
    </mat-grid-tile>
</mat-grid-list>
<br>
<mat-grid-list class="grid" cols="6" rows="2" rowHeight="20px">
    <mat-grid-tile>
        <div class="grid-text-small-label">Rating</div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="grid-text-small-label">Feedback</div>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
        <div class="grid-text-small-label">Rating</div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="grid-text-small-label">Feedback</div>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list class="grid" cols="6" rows="2" rowHeight="20px">
    <mat-grid-tile>
        <div class="grid-text">Outstanding</div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <div class="grid-text">Supervisor feedback goes here.</div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="grid-text">Outstanding</div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <div class="grid-text">Supervisor feedback goes here.</div>
    </mat-grid-tile>
</mat-grid-list>
<br>
<br>
<br>
<mat-grid-list class="grid" cols="2" rows="1" rowHeight="20px">
    <mat-grid-tile>
        <div class="grid-text-large-label">Goal Accomplishment and Deadline Timelines</div>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
<br>
<mat-grid-list class="grid" cols="6" rows="2" rowHeight="20px">
    <mat-grid-tile>
        <div class="grid-text-small-label">Rating</div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="grid-text-small-label">Feedback</div>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
<mat-grid-list class="grid" cols="6" rows="2" rowHeight="20px">
    <mat-grid-tile>
        <div class="grid-text">Outstanding</div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <div class="grid-text">Supervisor feedback goes here.</div>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
</mat-grid-list>