h2 {
    padding: 15px;
    text-align: center;
}

.left-align-label {
    position: absolute;
    left: 20px;
}

.view-year-label {
    position: absolute;
    color: #B8B8B8;
    font-size: 14px;
    margin: 0;
}

.select-year {
    width: 50%;
}

.export {
    border-radius: 50px;
    border-width: 3px;
    color: #E0AA51 !important;
    border-color: #E0AA51 !important;
}

.grid-text-small-label {
    position: absolute;
    color: #B8B8B8;
    font-size: 14px;
    left: 95px;
}

.grid-text-large-label {
    position: absolute;
    font-weight: bold;
    left: 95px;

}

.grid-text {
    position: absolute;
    left: 95px;
}