<h2>Personal Development Plan</h2>
<mat-grid-list cols="6" rowHeight="100px">
    <mat-grid-tile>
        <div class="label-align-left">
            <label style="margin: 0;">View Year</label>
            <br>
            <mat-form-field appearance="outline" style="width: 50%;">
              <mat-select placeholder="Year">
                <mat-option *ngFor="let year of years" [value]="year.value">
                  {{year.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="5">
        <div style="margin-left: auto;">
            <label for="add-new-button"></label>
            <a mat-flat-button class="button4 first-button" (click)="deletePersonalDevelopment('72858bf0-df17-11ed-828b-ed6fee87d3fd')">Delete</a>
            <a mat-flat-button class="button4 second-button" (click)="getAPersonalDevelopment('72858bf0-df17-11ed-828b-ed6fee87d3fd')">Add New</a>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="6" rowHeight="100px" [gutterSize]="'0'">
    <mat-grid-tile colspan="2">
        <div class="label-align-left">
            <label>Employee Name</label>
            <mat-form-field appearance="outline">
                <input matInput placeholder="John Doe" value={{filerName}}>
            </mat-form-field>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
        <div>
            <label>Date Completed</label>
            <mat-form-field appearance="outline" style="width: 75%;">
                <input matInput [matDatepicker]="picker1" placeholder="Choose a date" [formControl]="dateCompleted">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div style="overflow: hidden;">
            <label>6-Month Check-In</label>
            <mat-form-field appearance="outline" style="width: 75%;">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker2">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="6" rowHeight="250px" [gutterSize]="'20'">
    <mat-grid-tile colspan="2">
        <div class="fill-div">
            <label>Short-Term Goals</label>
            <mat-form-field class="fill-space">
                <textarea matInput class="fix-textarea" placeholder="Goal text goes here." value={{shortTermGoals}}></textarea>
            </mat-form-field>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <div class="fill-div">
            <label>Mid-Term Goals (2-3 Years)</label>
            <mat-form-field class="fill-space">
                <textarea matInput class="fix-textarea" placeholder="Goal text goes here." value={{midTermGoals}}></textarea>
            </mat-form-field>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <div class="fill-div">
            <label>Long-Term Goals (5 Years)</label>
            <mat-form-field class="fill-space">
                <textarea matInput class="fix-textarea" placeholder="Goal text goes here." value={{longTermGoals}}></textarea>
            </mat-form-field>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="6" rowHeight="250px" [gutterSize]="'20'">
    <mat-grid-tile colspan="3">
        <div class="fill-div">
            <label>Development Needs</label>
            <mat-form-field class="fill-space">
                <textarea matInput class="fix-textarea" placeholder="Development needs text goes here." value={{developmentNeeds}}></textarea>
            </mat-form-field>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
        <div class="fill-div">
            <label>Action Plan</label>
            <mat-form-field class="fill-space">
                <textarea matInput class="fix-textarea" placeholder="Development needs text goes here." value={{actionPlan}}></textarea>
            </mat-form-field>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="4" rowHeight="100px" >
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="fill-div">
            <label>Employee Signature</label>
            <mat-form-field appearance="outline" style="width: 75%;">
                <input matInput value={{employeeSignature}}>
            </mat-form-field>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div>
            <label>Date Signed</label>
            <mat-form-field appearance="outline" style="width: 75%;">
                <input matInput [matDatepicker]="picker3">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div>
            <label>Supervisor Signature</label>
            <mat-form-field appearance="outline" style="width: 75%;">
                <input matInput>
            </mat-form-field>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div>
            <label>Date Signed</label>
            <mat-form-field appearance="outline" style="width: 75%;">
                <input matInput [matDatepicker]="picker4">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker4"></mat-datepicker-toggle>
                <mat-datepicker #picker4></mat-datepicker>
            </mat-form-field>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="6" rowHeight="100px" >
    <mat-grid-tile [colspan]="6" [rowspan]="1" [ngStyle]="">
        <div style="margin-left: auto;">
            <label for="export-to-pdf-button"></label>
            <a mat-flat-button class="button4 first-button">Export to PDF</a>
            <a mat-flat-button class="second-button button4">Save</a>
        </div>
    </mat-grid-tile>
</mat-grid-list>