h2 {
  padding: 15px;
  text-align: center;
}

.button-yellow {
  background-color: #E0AA51 !important; 
  color:white !important;
  margin: 20px; 
  margin-right: 10px;
  border-radius: 50px;
  border-width: 3px;
}
  
.button-white {
  color:#E0AA51 !important; 
  border:2px solid #E0AA51 !important;
  margin: 10px; 
  margin-right: 20px;
  border-radius: 50px;
  border-width: 3px;
}
  
.name-textbox {
  height: 100%;
  width: 100%;
}
  
.textbox-skinny {
  width: 95%;
  height: 100%;
  display: block;
}
  
.textbox-tall {
  width: 90%;
  height: 100%;
  display: float;
}
  
label {
  color:rgb(149, 149, 149);
  font-size: small;
  width: 95%;
  margin-left: 35px;
  text-align: left;
}
  
.md-field {
  width: 100px;
  float:left;
}
  
.label-align-left {
  position: absolute;
  left: 20px;
}  