<h2 class="title" style="text-align: center">Self Assessment</h2>
<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile>
    <div class="label-align-left">
    <label style="margin: 0;">View Year</label><br>
    <mat-form-field appearance="outline" class="md-field">
      <mat-label>Year</mat-label>
      <mat-select>
        <mat-option *ngFor="let year of years" [value]="year.value">
          {{year.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="2"></mat-grid-tile>
  <mat-grid-tile>
    <button mat-flat-button class="button-white">Delete</button>
    <button mat-flat-button class="button-yellow">Add New</button> 
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile>
    <div class="label-align-left">
      <label for="name" style="margin: 5px;">Employee Name</label><br>
      <mat-form-field appearance="outline">
        <input matInput>
      </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="label-align-left">
      <label for="complete" style="margin: 5px;">Date Completed</label><br>
      <mat-form-field appearance="outline" class="name-textbox">
        <input matInput [matDatepicker]="picker1">
        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="25">
  <mat-grid-tile rowspan="2">
    <label for="name">List 3 accomplishments you had for the year:</label>
  </mat-grid-tile>
  <mat-grid-tile rowspan="3">
    <mat-form-field appearance="outline" class="textbox-skinny">
      <textarea matInput>Accomplishment text goes here.</textarea>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile rowspan="3">
    <mat-form-field appearance="outline" class="textbox-skinny">
      <textarea matInput>Accomplishment text goes here.</textarea>
    </mat-form-field>    
  </mat-grid-tile>
  <mat-grid-tile rowspan="3">
    <mat-form-field appearance="outline" class="textbox-skinny">
      <textarea matInput>Accomplishment text goes here.</textarea>
    </mat-form-field>    
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="2" rowHeight="25">
  <mat-grid-tile>
    <label for="takeaway">What has been your biggest takeaway from this past year?</label>
  </mat-grid-tile>
  <mat-grid-tile>
    <label for="overcame">Describe a hard task/project you overcame. What did you learn from it?</label>
  </mat-grid-tile>
  <mat-grid-tile rowspan="5">
    <mat-form-field appearance="outline" class="textbox-tall">
      <textarea matInput>Answer goes here.</textarea>
    </mat-form-field>    
  </mat-grid-tile>
  <mat-grid-tile rowspan="5">
    <mat-form-field appearance="outline" class="textbox-tall">
      <textarea matInput>Answer goes here.</textarea>
    </mat-form-field>    
  </mat-grid-tile>
  <mat-grid-tile>
    <label for="improve">In what ways do you think you can improve your performance?</label>
  </mat-grid-tile>
  <mat-grid-tile>
    <label for="support">What actions are needed to support the improvement?</label>
  </mat-grid-tile>
  <mat-grid-tile rowspan="5">
    <mat-form-field appearance="outline" class="textbox-tall">
      <textarea matInput>Answer goes here.</textarea>
    </mat-form-field>    
  </mat-grid-tile>
  <mat-grid-tile rowspan="5">
    <mat-form-field appearance="outline" class="textbox-tall">
      <textarea matInput>Answer goes here.</textarea>
    </mat-form-field>    
  </mat-grid-tile>
  <mat-grid-tile>
    <label for="barriers">What barriers or hurdles exist to improving your experience?</label>
</mat-grid-tile>
  <mat-grid-tile>
    <label for="metrics">What metrics/milestones can we use to make sure you're on track?</label><br>
  </mat-grid-tile>
  <mat-grid-tile rowspan="5">
    <mat-form-field appearance="outline" class="textbox-tall">
      <textarea matInput>Answer goes here.</textarea>
    </mat-form-field>    
  </mat-grid-tile>
  <mat-grid-tile rowspan="5">
    <mat-form-field appearance="outline" class="textbox-tall">
      <textarea matInput>Answer goes here.</textarea>
    </mat-form-field>    
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <label for="accountability" style="text-align: center;">How will you hold yourself accountable for acheiving goals and results?</label>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="5">
    <mat-form-field appearance="outline" class="textbox-tall" style="width:45%">
      <textarea matInput>Answer goes here.</textarea>
    </mat-form-field>    
  </mat-grid-tile>
  <mat-grid-tile>
    <label for="positivePerformance" >Please list examples of positive performance from this year.</label>
  </mat-grid-tile>
  <mat-grid-tile>
    <label for="improveExample">Please list examples where performance could have improved.</label>
  </mat-grid-tile>
  <mat-grid-tile rowspan="5">
    <mat-form-field appearance="outline" class="textbox-tall">
      <textarea matInput>Answer goes here.</textarea>
    </mat-form-field>    
  </mat-grid-tile>
  <mat-grid-tile rowspan="5">
    <mat-form-field appearance="outline" class="textbox-tall">
      <textarea matInput>Answer goes here.</textarea>
    </mat-form-field>    
  </mat-grid-tile>
  <mat-grid-tile>
    <label for="goal">What is your main goal for this year?</label>
  </mat-grid-tile>
  <mat-grid-tile>
    <label for="learning">What do you hope to learn, and what areas would you like to strengthen?</label>
  </mat-grid-tile>
  <mat-grid-tile rowspan="5">
    <mat-form-field appearance="outline" class="textbox-tall">
      <textarea matInput>Answer goes here.</textarea>
    </mat-form-field>    
  </mat-grid-tile>
  <mat-grid-tile rowspan="5">
    <mat-form-field appearance="outline" class="textbox-tall">
      <textarea matInput>Answer goes here.</textarea>
    </mat-form-field>    
  </mat-grid-tile>
  <mat-grid-tile>
    <label for="leadership">Are there any areas where your leadership team can improve?</label>
  </mat-grid-tile>
  <mat-grid-tile>
    <label for="feedback">Any thoughts/feedback you would like us to know?</label>
  </mat-grid-tile>
  <mat-grid-tile rowspan="5">
    <mat-form-field appearance="outline" class="textbox-tall">
      <textarea matInput>Answer goes here.</textarea>
    </mat-form-field>    
  </mat-grid-tile>
  <mat-grid-tile rowspan="5">
    <mat-form-field appearance="outline" class="textbox-tall">
      <textarea matInput>Answer goes here.</textarea>
    </mat-form-field>    
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile colspan="3"></mat-grid-tile>
  <mat-grid-tile>
    <button mat-flat-button class="button-white">Export to PDF</button>
    <button mat-flat-button class="button-yellow">Save</button>
  </mat-grid-tile>
</mat-grid-list>