.button-yellow{
    background-color: #E0AA51 !important; 
    color:white  !important;
    margin: 20px; 
    margin-right: 10px;
    border-radius: 50px;
    border-width: 3px;
}
  
.button-white{
    color:#E0AA51 !important; 
    border:2px solid #E0AA51 !important;
    margin: 10px; 
    margin-right: 20px;
    border-radius: 50px;
    border-width: 3px;
}

.name-textbox{
    padding: 12px 20px;
    margin: 8px 30px;
    margin-left: 0px;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    color:rgb(120 120, 120);
}
  
    .textbox-skinny{
      display: flex;
      width: 95%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      color:rgb(120 120, 120);
    }
  
    input{
      width: 90%;
      padding: 15px 15px;
      padding-bottom: 40px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      color:rgb(120 120, 120);
      float: left;
    }
  
    label{
      color:rgb(149, 149, 149);
      font-size: small;
      width: 95%;
      margin-left: 35px;
      text-align: left;
    }
  
    .md-field {
      width: 100px;
      float:left;
    }
  
    .label-align-left{
      position: absolute;
      left: 20px;
    }  