/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* You can add global styles to this file, and also import other style files /
/this is arbitrary, contains only the style for the button*/
.submit {
    padding: 16px;
    height: 52px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: #2F4BA0;
    color: white;
    cursor: pointer;


}